body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.mary{
    color:#181818;
    font-size:45px;
    font-weight:800;
}
.text{
    color:#FD6E0A;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
}
nav li {
    list-style: none;
margin-right: 50px;
}
.btn{
    border-radius:5px;
    background:#FD6E0A;
    border:0px;
    font-size: 20px;
    font-weight:700;
    color:white;
    padding:18px 35px;}

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:0px 200px;
    }
.head{
  background-color:#FFF8F3;
   background-image:url('./images/header_bg.png');
background-repeat: no-repeat;
background-position: bottom right;

}
.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.profile{
width:500px;
align-items:right;
}
.greeting{
   font-size:45px;
   color:#474747;
   margin-bottom:0 
} 
.Hardy{
font-size:85px;
font-weight:700;
margin-top:5px;
margin-bottom:20;
}
.about{
    padding: 130px;
    border-radius:10px;
    background:#FFF8F3;
    margin: 120px;
}
.section-title{ 
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.section-description{
    color: #181818;
    text-align: center;
    font-size:18px;
}
main {
    max-width:1140px;
    margin:0 auto;
}
main section{
    margin-top: 130px;
}
.about-info-container{
 display:flex; 
 justify-content:space-around;  
}
.about-info{
    text-align:center;
}
#section-description-d{
  padding:30px 150px;  
}
.skill-container{
    display:flex;    gap:20px;
}
.skill{
    padding:30px;
    border-radius:5px;
    background:#FFF;
    box-shadow:0px 6px 40px 0px rgba(0,0,0,0.06);
}

.resume-coloum-title{
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}
.resume-container{
    display:flex;
    gap:50px;
}
.resume-item-title{
font-size:25px;
font-weight:700;
}
.download{
    text-align: center;
    margin-top: 50px;
    
}